
body {
    background: #0b0b0b;
    color: #fff;
}

.bg-hitam {
    background: #0b0b0b;
}

.bagian-gelap {
    background: #111;
}

.text-merah,
.teks-merah {
    color: #e63946 !important;
}



.foto-profil {
    width: 280px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid #e63946;
}


.kontak-item {
    min-height: 80px;
    padding: 18px 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    text-decoration: none;

    border-bottom: 1px solid #333;

    transition: 0.2s;
}

.kontak-item div {
    display: flex;
    flex-direction: column;
}

.kontak-item strong {
    font-weight: 500;
}

.kontak-item span {
    color: #e63946;
    font-size: 22px;
}

.kontak-item:hover {
    color: #e63946;
    padding-left: 12px;
    padding-right: 12px;
}

.pendidikan-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #333;
    gap: 20px;
}

.pendidikan-nama {
    color: white;
    font-size: 16px;
}

.pendidikan-tahun {
    color: #999;
    white-space: nowrap;
}

.skill-list {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skill-tag {
    padding: 9px 18px;
    border: 1px solid #dee2e6;
    border-radius: 10%;
    background: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    transition: 0.25s ease;
}

.skill-tag:hover {
    background: #dc3545;
    border-color: #dc3545;
    color: #fff;
    transform: translateY(-2px);
}

@media (max-width: 768px) {

    .foto-profil {
        width: 220px;
        height: 270px;
    }

}